/*
  Fonts
*/
$gurmukhi-font-family: 'gurbaniakhar';
@font-face {
  font-family: $gurmukhi-font-family;
  src: url('../fonts/gurbaniakhar-webfont.eot');
  src: url('../fonts/gurbaniakhar-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gurbaniakhar-webfont.woff2') format('woff2'),
       url('../fonts/gurbaniakhar-webfont.woff') format('woff'),
       url('../fonts/gurbaniakhar-webfont.ttf') format('truetype'),
       url('../fonts/gurbaniakhar-webfont.svg#gurbaniakharregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gurmukhi {
  font-family: $gurmukhi-font-family;
}
.english {
  font-family: $body-font-family;
}

/*
  Custom Styles
*/

/* HEADER */
.global-nav {
  background: #333;
  height: 45px;
  margin-bottom: 0px;
  overflow: hidden;
  
  ul.title-area {
    margin-bottom: 0px;
    position: relative;
    float: left;
    width: auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    li.name {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      h1 {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        line-height: 39px;
      }
    }
  }
}

/* SEARCH RESULTS */
#results-block {
  .block-list {
    margin: 0;
    width: 100%;
  }
}

/* SEARCH BAR */
#search_div {
  input {
    margin: 0;
  }
}