#header {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  overflow: hidden;

  a {
    cursor: default;
    display: inline-block;
    height: 40px;
    text-align: center;
    width: 40px;
  }

  .global-nav {
    ul.right {
      margin-bottom: 0;
      position: absolute;
    }
  }
}

.navigator-header {
  text-align: center;
}
