$dark: #212121;
$text-color: #999;

.dark-theme {
  #header {
    background-color: $dark;
    color: $text-color;

    a {
      color: $text-color;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .nav-page {
    background: #333;
  }

  #search-container {
    background-color: #444;

    input {
      color: $text-color;
    }

    > button {
      background-color: #444;
      color: $text-color;
    }
  }

  .panktee.search-result .gurmukhi {
    color: $text-color;
  }

  #footer {
    background-color: $dark;

    a {
      color: $text-color;

      &.active,
      &:hover {
        background-color: #444;
      }

      &.active {
        color: $sttm-orange;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
  }
}
