$sttm-orange: #f39c1d;
$sttm-blue: #29679b;

$transition-time: 600ms;
$transition-easing: cubic-bezier(0.165, 0.84, 0.44, 1);

/*
  Fonts
*/
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$gurmukhi-font-family: 'gurbaniakhar';

@font-face {
  font-family: $gurmukhi-font-family;
  font-style: normal;
  font-weight: normal;
  src: url('../../core/fonts/gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: $gurmukhi-font-family;
  font-style: normal;
  font-weight: bold;
  src: url('../../core/fonts/gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

.gurmukhi {
  font-family: $gurmukhi-font-family;
  font-size: 1.1em;
}

.roman {
  font-family: $body-font-family;
}

.nolink {
  cursor: default;
}

.nolink:hover {
  background-color: transparent !important;
}

/*
  Custom Styles
*/
html {
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #222;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

#main-ui {
  height: calc(100% - 120px); //Full-height minus header, search, and footer
  overflow: hidden;
  transition: height $transition-time $transition-easing;
}

.block-list {
  header {
    cursor: pointer;
    margin: 0;
    padding: 1em 0 0.5em 1rem;
  }
}

.block-list {
  li {
    border-bottom-color: #ebebeb;

    &:first-child {
      border-top-color: #ebebeb;
    }
  }
}

#shabad-block {
  border-top: 1px solid #ebebeb;
  transform: translateY(100%);

  .block-list {
    margin: 0;
    width: 100%;
  }
}

#top-blocks,
#shabad-block {
  background-color: #fff;
  height: 100%;
  position: absolute;
  transition: transform $transition-time $transition-easing;
  width: 100%;
  will-change: transform;
}

/* SEARCH RESULTS */
#results-block {
  border-right: 1px solid #ebebeb;

  .block-list {
    margin: 0;
    width: 100%;
  }
}

.panktee.search-result {
  span {
    display: none;
    line-height: normal;
  }

  .gurmukhi {
    color: #00669b;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .translation,
  .transliteration {
    color: #222;
    font-size: 0.8em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .meta {
    color: grey;
    font-size: 0.9em;
  }
}

body.searchResults_transliteration .search-result .transliteration,
body.searchResults_translationEnglish .search-result .translation.english,
body.searchResults_meta .search-result .meta {
  display: block;
}

#session-block {
  .block-list {
    margin: 0;
    width: 100%;
  }
}

/* SESSION WINDOW */
.block-list ul.right {
  color: #666;
  cursor: default;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;

  li {
    border: 0;

    a {
      line-height: 31px;
      padding: 0 1rem;
    }
  }
}

#session {
  a.panktee.current {
    background-color: $sttm-blue;
    color: #fff;
  }
}

/* ***** SHABAD CONTROLLER ***** */
#shabad {
  a:hover {
    i.fa-home {
      color: #ccc;

      &:hover {
        color: #666;
      }
    }
  }

  a.panktee.current {
    background-color: $sttm-blue;
    color: #fff;

    &:hover {
      i.fa-home {
        color: #999;

        &:hover {
          color: #ccc;
        }
      }
    }
  }

  i.fa-home {
    color: transparent;
  }

  a.panktee.main i.fa-home {
    color: inherit !important;
  }
}

#footer {
  background-color: #fafafa;
  border-top: 1px solid #ebebeb;
  height: 40px;

  .menu-group > .menu-group-left,
  .menu-group > .menu-group-right {
    flex: 0 0 auto;
  }

  .menu-bar {
    background-color: transparent;

    > li {
      > a {
        color: $sttm-blue;
        font-size: 0.8em;
        line-height: 48px;
        padding: 0 1rem;

        .fa {
          line-height: 47px;
        }
      }
    }
  }
}

@import
  "animations",
  "header",
  "helpers",
  "search-bar",
  "settings",
  "theme-dark",
  "theme-light";
