$sttm-orange: #f39c1d;
$sttm-blue: #29679b;

$transition-time: 600ms;
$transition-easing: cubic-bezier(0.165, 0.84, 0.44, 1);

/*
  Fonts
*/
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$gurmukhi-font-family: 'gurbaniakhar';

@font-face {
  font-family: $gurmukhi-font-family;
  font-style: normal;
  font-weight: normal;
  src: url('../../core/fonts/gurbaniakhartrue-webfont.ttf') format('truetype');
}

@font-face {
  font-family: $gurmukhi-font-family;
  font-style: normal;
  font-weight: bold;
  src: url('../../core/fonts/gurbaniakharheavytrue-webfont.ttf') format('truetype');
}

#navigator {
  .gurmukhi {
    font-family: $gurmukhi-font-family;
    font-size: 1.1em;
  }
}

.roman {
  font-family: $body-font-family;
}

.nolink {
  cursor: default;
}

.nolink:hover {
  background-color: transparent !important;
}

/*
  Custom Styles
*/
html {
  overflow: hidden;
}

body {
  background-color: #fff;
  color: #222;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

#main-ui {
  height: calc(100% - 80px); //Full-height minus header, search, and footer
  overflow: hidden;
}

.nav-page {
  display: none;
  height: 100%;
  width: 100%;

  &.active {
    display: block;
  }
}

.block-list {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li > a {
    cursor: pointer;
    display: block;
    line-height: normal;
    padding: 0.3rem 1rem;
  }
}

#search-page {
  .block-list {
    height: calc(100% - 40px);
  }
}

.panktee.search-result {
  span {
    display: none;
    line-height: normal;
  }

  .gurmukhi {
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .translation,
  .transliteration {
    color: #222;
    font-size: 0.8em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .meta {
    color: grey;
    font-size: 0.9em;
  }
}

body.searchResults_transliteration .search-result .transliteration,
body.searchResults_translationEnglish .search-result .translation.english,
body.searchResults_meta .search-result .meta {
  display: block;
}

#session {
  a.panktee.current {
    background-color: $sttm-orange;
    color: #fff;
  }
}

/* ***** SHABAD CONTROLLER ***** */
#shabad {
  a:hover {
    i.fa-home {
      color: #ccc;

      &:hover {
        color: #666;
      }
    }
  }

  a.panktee.current {
    background-color: $sttm-orange;
    color: #fff;

    &:hover {
      i.fa-home {
        color: #999;

        &:hover {
          color: #ccc;
        }
      }
    }
  }

  i.fa-home {
    color: transparent;
  }

  a.panktee.main i.fa-home {
    color: inherit !important;
  }
}

#footer {
  height: 40px;

  .menu-group > .menu-group-left,
  .menu-group > .menu-group-right {
    flex: 0 0 auto;
  }

  .menu-bar {
    list-style-type: none;

    > li {
      display: inline-block;

      > a {
        cursor: pointer;
        display: block;
        font-size: 0.8em;
        line-height: 40px;
        text-align: center;
        width: 40px;

        .fa {
          line-height: 40px;
        }
      }
    }
  }
}

@import
  "animations",
  "forms",
  "header",
  "helpers",
  "search-bar",
  "settings",
  "theme-dark",
  "theme-light";
