#search-div {
  justify-content: center;
  top: -50px;
}
#search-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  margin: 0;
  max-width: 484px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 40px);
  
  input {
    background: transparent;
    border: none;
    box-shadow: none;
    display: inline-block;
    float: left;
    height: 44px;
    margin: 0;
    position: relative;
    width: calc(100% - 44px);
  }
  > button {
    background-color: #fff;
    color: #999;
    display: inline-block;
    height: 44px;
    padding: 0.5rem;
    width: 44px;
  }
}
#gurmukhi-keyboard {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: none;
  font-size: 0;
  left: 50%;
  max-width: 484px;
  overflow: hidden;
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  z-index: 2;

  &.active {
    display: block;
  }

  .page {
    display: none;

    &.active {
      display: block;
    }
  }
  .keyboard-row {
    border-bottom: 2px solid #999;
  }
  .keyboard-row-set {
    display: inline-block;
    width: 50%;
  }
  .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: #ccc;
  }
  button {
    color: #333;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
    width: 20%;
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1;
}
