#settings {
  background-color: #fff;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &.animated {
    display: flex;
  }

  .shrink.grid-content {
    padding: 0;

    h1 {
      box-shadow: 0 0 5px rgba(0,0,0,0.25);
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 3.75rem;
      margin-top: 0;
      text-align: center;
    }
    a {
      color: #666;
      font-size: 2.50rem;
      line-height: 3.75rem;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 3.75rem;
    }
  }
  .settings-container {
    padding: 2rem;

    .sections {
      text-align: right;

      ul {
        font-size: 0.9375rem;
        list-style-type: none;
        text-align: left;
        width: 185px;

        a {
          border-radius: 4px;
          cursor: pointer;
          display: block;
          padding: 0 8px;

          &.active {
            background-color: $sttm-orange;
            color: #fff;
            font-weight: 700;
            text-shadow: 0 1px 0 rgba(0,0,0,0.1);
          }
        }
      }
    }
    .options {
      .settings-tab {
        display: none;

        &.active {
          display: block;
        }
        .settings-section {
          border-bottom: 1px solid #e8e8e8;
          padding: 1rem;

          &:first-of-type {
            border-top: 1px solid #e8e8e8;
          }

          h4 {
            font-weight: bold;
          }
        }
      }
    }
  }
}
